@{
    ViewBag.Title = "Home Page";
}

<h2>Welcome</h2>

<p>This site currently contains no active content.</p> 
<p>To get in touch with us, you can find us on Facebook:<br/> 
	<ul> 
		<li><a href="http://www.facebook.com/r.d.fawcett">Richard</a></li> 
		<li><a href="http://www.facebook.com/profile.php?id=1392174080&v=wall">Natalie</a></li> 
	</ul> 
</p> 
